@use 'variables';
@use 'mixins';

.bottom-container {
  width: 100%;
}

.bottom-img {
  width: 100%;
  object-fit: contain;
}

.about {
  padding: 1.5rem;
}

.heading {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

@media (min-width: 900px) {
  .bottom-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
  }

  .bottom-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .about {
    @include mixins.flex(flex-start, center, column);
  }
}
