//modules
@use 'mixins';
@use 'variables';
@use 'navbar';
@use 'top';
@use 'bottom';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: variables.$spartan;
  background-color: variables.$white;
}

.overlay.active {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.text {
  color: variables.$darkgray;
  font-size: 12px;
  line-height: 1.25rem;
}

.heading {
  text-transform: uppercase;
}
